.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(3, 3, 3, 0.5);
  display: grid;
  place-items: center;
}

.content {
  position: relative;
  top: -10%;
  text-align: center;
  padding: 30px 60px;
}

.button {
  font-size: large;
  padding: 1em 2em;
  background-color: #181818;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}